<html xmlns="https://www.w3.org/1999/xhtml">
<head>
</head>
<body>
  <table border='0' style="font-family: Verdana; font-size: 12px; width: 95%;">
    <tr>
        <td>
            <br />
            Prezado(a) Aluno(a) <strong>{aluno}</strong>,<br />
            <br />
            Você foi inscrito para <span style="font-weight:bold; font-size:12pt;">{curso}</span>, por gentileza entre com login e senha na plataforma <a href="https://sapiens.ipt.br" target="_blank">SAPIENS</a> e complete o cadastro para que possamos prosseguir com o processo. <br />
            <br />
            Segue abaixo suas credenciais:<br />
            Login: <b>{login}</b> <br />
            Senha: <b>{senha}</b> <br /> <br />

            <a href="https://sapiens.ipt.br" target="_blank">https://sapiens.ipt.br</a>
            <br /><br />
            Qualquer dúvida enviar e-mail para <a href="mailto:cursos@ipt.br" target="_blank">cursos@ipt.br</a> 
            <br /><br />

            <span style=\"color:#535353;font-size:12px\">
                <b>
                    ATENÇÃO!!!<br />
                    E-mail enviado automaticamente pelo sistema SAPIENS (não responder).
                </b>
            </span>
        </td>
    </tr>
  </table>
  <br />
</body>
</html>
