<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<title></title>
</head>
<body>
  <table align="center" width='600px' border='0'>
    <tr style="background-color: #dddddd;">
      <td colspan='2' style="text-align: left; color: #000000; font-weight: bold;">
        Protocolo de pre-Inscri&ccedil;&atilde;o
      </td>
    </tr>
    <tr style="background-color: #dddddd;">
      <td style='text-align: right;'>
        Curso:
      </td>
      <td style="text-align: left;">
        {curso}
      </td>
    </tr>
    <tr style="background-color: #dddddd;">
      <td style='text-align: right;'>
        &Aacute;rea de Concentra&ccedil;&atilde;o:
      </td>
      <td style='text-align: left; width: 400px;'>
        {area_concentracao}
      </td>
    </tr>
    <tr style="background-color: #dddddd;">
      <td style='text-align: right;'>
        Nome:
      </td>
      <td style='text-align: left;'>
        {nome}
      </td>
    </tr>
    <tr style="background-color: #dddddd;">
      <td style='text-align: right;'>
        Data da Inscri&ccedil;&atilde;o:
      </td>
      <td style='text-align: left;'>
        {data_inscricao}
      </td>
    </tr>
  </table>
  <br />
  <table align="center" border='0' style="font-family: Verdana; font-size: 11px; width: 600px;">
    <tr>
      <td>
        <blockquote style='text-align: justify;'>
          <p style="font-weight: bold;">
            Instru&ccedil;&otilde;es para confirma&ccedil;&atilde;o da inscri&ccedil;&atilde;o:
          </p>
          Pagar o boleto no valor de <strong>{valor_inscricao}</strong> até o dia <strong>{vencimento_boleto}</strong> conforme dados:
          <blockquote>
            FIPT - Funda&ccedil;&atilde;o de Apoio ao Instituto de Pesquisas Tecnol&oacute;gicas
            do Estado de S&atilde;o Paulo.<br />
            CNPJ: 05.505.390/0001-75<br />
          </blockquote>
        </blockquote>
      </td>
    </tr>
  </table>
    <br />
    <br />
    <br />
    <span>Entraremos em contato em breve.</span>

</body>
</html>
