<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
</head>
<body>
  <table border='0' style="font-family: Verdana; font-size: 11px; width: 600px;">
    <tr>
      <td>
        Caro(a) candidato(a) <strong>{nome}</strong>,<br />
        <br />
        Acusamos recebimento do valor de <strong>{valor_inscricao}</strong> referente a inscrição conforme
        dados a seguir:<br />
      </td>
    </tr>
  </table>
  <br />
  <table width='600px' border='0'>
    <tr style="background-color: #dddddd;">
      <td style='text-align: right; font-weight: bold;'>
        Inscri&ccedil;&atilde;o N&ordm;:
      </td>
      <td style='font-size: 18px; font-weight: bold; text-align: left; width: 400px;'>
        {inscricao_numero}
      </td>
    </tr>
    <tr style="background-color: #dddddd;">
      <td style='text-align: right;'>
        Curso:
      </td>
      <td style="text-align: left;">
        {curso}
      </td>
    </tr>
    <tr style="background-color: #dddddd;">
      <td style='text-align: right;'>
        &Aacute;rea de Concentra&ccedil;&atilde;o:
      </td>
      <td style='text-align: left;'>
        {area_concentracao}
      </td>
    </tr>
    <tr style="background-color: #dddddd;">
      <td style='text-align: right;'>
        Nome:
      </td>
      <td style='text-align: left;'>
        {nome}
      </td>
    </tr>
    <tr style="background-color: #dddddd;">
      <td style='text-align: right;'>
        Data da Inscri&ccedil;&atilde;o:
      </td>
      <td style='text-align: left;'>
        {data_inscricao}
      </td>
    </tr>
  </table>
  <br />
  <table border='0' style="font-family: Verdana; font-size: 11px; width: 600px;">
    <tr>
      <td>
        <blockquote style='text-align: justify;'>
          Local do processo seletivo:
          <blockquote>
            <p>
              IPT &ndash; Instituto de Pesquisas Tecnol&oacute;gicas do Est. De SP.<br />
              Av. Professor Almeida Prado, 532 - Butant&atilde; &ndash; S. Paulo &ndash; SP.<br />
              Pr&eacute;dio 56<br />
              O Aluno dever&aacute; chegar com no m&iacute;nimo 30 minutos de anteced&ecirc;ncia
              para verificar a sala onde ser&aacute; aplicada a prova;<br />
              &Eacute; proibido qualquer tipo de consulta a materiais.<br />
            </p>
          </blockquote>
          <br />
        </blockquote>
      </td>
    </tr>
  </table>
    <br />
    <br />
    <br />
    <span>Entraremos em contato em breve.</span>
</body>
</html>
