<html xmlns="https://www.w3.org/1999/xhtml">
<head>
</head>
<body>
  <table border='0' style="font-family: Verdana; font-size: 12px; width: 95%;">
    <tr>
      <td>
        <h4 style="color: Red;">
          ATENÇÃO<br />
          <br />
          APRESENTAR NOTA FISCAL ATÉ O DIA {data_limite}.
        </h4>
        Confirmação do pagamento DIRETO COM O SETOR FINANCEIRO DA FIPT, FONE 3769-6909.
        <br />
        <br />
        Prezado(a) Professor(a) <strong>{nome}</strong>,<br />
        <br />
        Solicitamos emissão de Nota Fiscal no valor de <span style="font-weight:bold; font-size:12pt;">{valor_nota}</span><br />
        <br />
        Segue abaixo o demonstrativo da movimentação da sua conta para o mês de <b>
        {mes}</b> referente a {referente_a}:
        <br /><br />
        {tabela_aulas_dissertacao}
        
        Informamos que as Notas Fiscais a serem fornecidas à FIPT deverão constar na descrição
        "Prestação de serviços educacionais" ou algo similar. Para tanto, é prudente verificar
        se no contrato social da empresa, consta como objeto social esse tipo de atividade.
        <br />
        <br />
        A conta corrente informada deverá ser em nome da empresa fornecedora da NF caso
        contrário a FIPT não poderá proceder o depósito.
        <br />
        <br />
        A NF deverá ser entregue aqui no ET (Ensino tecnológico), o mais breve possível, pois as notas fiscais
        de prestação de serviços emitidas no mês devem ser pagas dentro do mês de sua emissão,
        por isso, pedimos a brevidade da entrega, para não ocasionar futuros transtornos.
        <br />
        <br />
        <strong>Dados da Fipt.</strong>
        <br />
        Fipt - Fundação de apoio ao Instituto de Pesquisas Tecnológicas
        <br />
        {Endereço} {Numero} {Complemento}
        <br />
        {Bairro} - {Cidade}/{Estado}
        <br />
        {Cep}
        <br />
        CNPJ.: {Cnpj}
        <br />
        Inscr. Estadual: {Ie}
        <br />
        <br />
        <strong>OBSERVAÇÃO IMPORTANTE</strong>
        <br />
        O pagamento da Nota Fiscal será realizado no dia 22.
        <br />
        A NF deverá ser entregue aqui no ET (Ensino tecnológico), o mais breve possível, observando o prazo
        de entrega acima, caso contrario o pagamento será realizado no dia 22 do próximo
        mês.
        <br />
        <br />
        Qualquer dúvida com relação ao demonstrativo, favor entrar em contato.
        <br /><br />
        <span style=\"color:#535353;font-size:12px\">
			<b>ATENÇÃO!!!<br />
				E-mail enviado automaticamente pelo sistema SAPIENS (não responder). 
			</b>
		</span>
      </td>
    </tr>
  </table>
  <br />
</body>
</html>
