.govsph-portal {
    color: #fff
}

.govsph-blue {
    background: #034ea2
}

.govsph-black {
    background: #11161d
}

.govsph-gray {
    background: #4d4d4f
}

.govsph-white {
    background: #fff
}

img.govsph-icon-social {
    margin-left: 4px
}

img.govsph-icon-social:hover {
    filter: drop-shadow(1);
    box-shadow: inset 0 0 0 20px #111;
    border-radius: 3px
}

.govsph-link:hover {
    background: #444!important;
    color: #fff;
    border-color: #444;
    text-decoration: none!important
}

::-moz-selection {
    background: #666;
    text-shadow: none;
    color: #fff
}

::selection {
    background: #666;
    text-shadow: none;
    color: #fff
}

.govsph-link {
    font-size: 10px;
    color: #444;
    border: 3px solid;
    border-radius: 16px;
    padding: 6px 10px;
    margin-right: 40px;
    text-decoration: none
}

@media only screen {
    #govsph-topbarGlobal {
        width: 100%;
        display: block;
        box-sizing: border-box;
        z-index: 99;
        position: relative
    }
    #govsph-topbarGlobal * {
        box-sizing: border-box;
        font-family: Verdana, Arial, Sans-serif
    }
    #govsph-topbarGlobal.blu-e {
        background-color: #fff
    }
    #govsph-topbarGlobal.gre-y {
        background-color: #ccc
    }
    #govsph-topbarGlobal.yello-w {
        background-color: #fc0
    }
    #govsph-topbarGlobal.re-d {
        background-color: red
    }
    #govsph-topbarGlobal.blac-k {
        background-color: #11161d
    }
    #govsph-topbarGlobal #topbarGlobal {
        width: 100%;
        max-width: 968px;
        margin: auto;
        font-size: 0;
        text-align: right
    }
    #govsph-topbarGlobal #topbarLink {
        font-size: 20px;
        font-weight: 700;
        width: auto;
        text-align: left
    }
    #govsph-topbarGlobal #topbarLink a {
        text-decoration: none;
        padding: 0px
    }
    #govsph-topbarGlobal #topbarLink a:active,
    #govsph-topbarGlobal #topbarLink a:visited {
        color: inherit
    }
    #govsph-topbarGlobal #topbarLink a:hover {
        cursor: pointer;
        text-decoration: underline
    }
    #govsph-topbarGlobal.blac-k #topbarLink a,
    #govsph-topbarGlobal.blu-e #topbarLink a,
    #govsph-topbarGlobal.re-d #topbarLink a {
        color: #fff
    }
    #govsph-topbarGlobal.blac-k #topbarLink a,
    #govsph-topbarGlobal.gre-y #topbarLink a,
    #govsph-topbarGlobal.re-d #topbarLink a,
    #govsph-topbarGlobal.whit-e #topbarLink a,
    #govsph-topbarGlobal.yello-w #topbarLink a {
        color: #11161d
    }
    #govsph-topbarGlobal #topbarMenu,
    #govsph-topbarGlobal #topbarOpen {
        font-size: 13px;
        color: #fff;
        padding: 0;
        margin: 0
    }
    #govsph-topbarGlobal #topbarMenu li,
    #govsph-topbarGlobal #topbarOpen li {
        display: block
    }
    #govsph-topbarGlobal #topbarMenu br+li,
    #govsph-topbarGlobal #topbarOpen br+li {
        padding: 4px 8px;
        margin-top: -8px;
        cursor: default;
        font-weight: 700
    }
    #govsph-topbarGlobal #topbarMenu a,
    #govsph-topbarGlobal #topbarOpen a {
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        line-height: 1.3;
        padding: 4px 8px
    }
    #govsph-topbarGlobal #topbarMenu a:hover,
    #govsph-topbarGlobal #topbarOpen a:hover {
        background-color: rgba(166, 166, 166, .6)
    }
    #govsph-topbarGlobal #topbarOpen>li {
        position: relative;
        margin: 0 10px 0 0
    }
    #govsph-topbarGlobal #topbarOpen>li span {
        font-size: 22px;
        line-height: 0;
        font-weight: 400;
        display: inline-block;
        vertical-align: text-top;
        margin-top: 4px;
        width: 13px
    }
    #govsph-topbarGlobal #topbarOpen.topbarOpening #topbarMenu {
        display: block!important
    }
    #govsph-topbarGlobal #topbarMenu {
        margin-left: 0;
        overflow-y: auto;
        position: absolute;
        left: 0;
        height: 450px;
        width: 350px;
        text-align: left;
        background-color: #999;
        background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#11161d));
        background: -webkit-linear-gradient(top, #999, #11161d);
        background: -moz-linear-gradient(top, #999, #11161d);
        background: -ms-linear-gradient(top, #999, #11161d);
        background: -o-linear-gradient(top, #999, #11161d);
        background: linear-gradient(to bottom, #999, #11161d);
        border-radius: 0 10px 10px 0
    }
    #govsph-topbarGlobal #topbarMenu::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        border-radius: 10px;
        background-color: #a6a6a6
    }
    #govsph-topbarGlobal #topbarMenu::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
        background-color: #f2f2f2
    }
    #govsph-topbarGlobal #topbarMenu::-webkit-scrollbar-thumb {
        background-color: #d9d9d9
    }
}

.govsph-middle,
.govsph-middle.govsph-active {
    box-shadow: 0 .1px .1px 0 rgba(0, 0, 0, .16), 0 .1px .3px 0 rgba(0, 0, 0, .12)
}

@media only screen and (max-width:968px) {
    #govsph-topbarGlobal #topbarMenu {
        left: inherit;
        right: 0
    }
    #govsph-topbarGlobal #topbarLink {
        width: 47%
    }
}

@media only screen and (min-width:769px) {
    #govsph-topbarGlobal {
        padding: 0
    }
    #govsph-topbarGlobal #topbarGlobal {
        min-width: 84px;
        
    }
    #govsph-topbarGlobal #topbarLink,
    #govsph-topbarGlobal #topbarLogo,
    #govsph-topbarGlobal #topbarOpen {
        display: inline-block;
        vertical-align: middle
    }
    #govsph-topbarGlobal #topbarLogo {
        background-repeat: no-repeat;
        min-width: 84px;
        min-height: 60px;
        background-position: center right;
        padding: 16.5px 0;
        width: 18%
    }
}

@media only screen and (max-width:480px) {
    #govsph-topbarGlobal #topbarLink.govsph-blue {
        padding: 20px 16px 0 2%!important
    }
}

@media only screen and (max-width:460px) {
    a.govsph-link {
        margin-right: 30px
    }
    a.govsph-link:hover {
        background: #444!important;
        text-decoration: none!important
    }
    p.govsph-social {
        display: none
    }
}

@media only screen and (max-width:400px) {
    a.govsph-link {
        margin-left: 10px;
        margin-right: 20px
    }
    a.govsph-link:hover {
        background: #444!important;
        text-decoration: none!important
    }
    .govsph-portal {
        font-size: 16px;
        margin-top: 4px
    }
    p.govsph-pasta {
        font-size: 16px!important;
        width: 190px!important
    }
}

@media only screen and (min-width:769px) {

    
    .govsph-kebab {
        display: none
    }
    div#govsph-topbarGlobal div#topbarGlobal {
        max-width: 100%!important;
        display: flex;
        position: relative;
        justify-content: flex-end;        
        margin-top: 30px
    }
    div#govsph-topbarGlobal div#topbarGlobal #topbarLink {
        background-image: url(../img/flag-sp.png);
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        width: 350px;
        height: 68px;
        top: 0;
        left: 0
    }
    .govsph-portal {
        margin-top: 14px;
        margin-left: 26px
    }
}

@media only screen and (max-width:768px) {
    #govsph-topbarGlobal #topbarGlobal {
        height: 30px;
    }
    ul.govsph-links-esq {
        display: inline-flex;
        margin-top: 4px;
        padding-left: 6px;
        margin-right: 14px
    }
    a.govsph-links-governo {
        font-size: 10px;
        padding-left: 8px
    }
    li.govsph-link-portal {
        font-size: 10px;
        height: 15px
    }
    ul.govsph-links-governo {
        display: none!important
    }
    div#govsph-redes-sociais,
    img.govsph-logo,
    nav.govsph-navbar.govsph-navbar-expand-lg {
        display: none
    }
    p.govsph-pasta {
        margin-top: 0!important
    }
    .govsph-social {
        margin-top: 0;
        margin-right: 2px
    }
    p.govsph-social {
        margin-top: 22px;
        margin-left: 2px
    }
    .govsph-link {
        font-size: 10px;
        color: #444;
        border: 3px solid;
        border-radius: 16px;
        padding: 6px 10px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 100px
    }
    #govsph-topbarGlobal #topbarLink.govsph-black,
    #govsph-topbarGlobal #topbarLink.govsph-blue,
    #govsph-topbarGlobal #topbarLink.govsph-gray,
    #govsph-topbarGlobal #topbarLink.govsph-white {
        width: 76%;
        text-align: left;
        height: 67px;
        padding: 20px 16px 0 2%
    }
    div#govsph-topbarGlobal {
        border-bottom: solid 3px #444
    }
    #govsph-topbarGlobal #topbarLink.govsph-blue {
        background: url(http://saopaulo.sp.gov.br/barra-govsp/img/flag-sp.png) right no-repeat #034ea2
    }
    #govsph-topbarGlobal #topbarLink.govsph-black {
        background: url(http://saopaulo.sp.gov.br/barra-govsp/img/flag-sp.png) right no-repeat #11161d
    }
    #govsph-topbarGlobal #topbarLink.govsph-gray {
        background: url(http://saopaulo.sp.gov.br/barra-govsp/img/flag-sp.png) right no-repeat #4d4d4f
    }
    #govsph-topbarGlobal #topbarLink.govsph-white {
        background: url(http://saopaulo.sp.gov.br/barra-govsp/img/flag-sp.png) right no-repeat #fff
    }
    .govsph-kebab {
        cursor: pointer;
        position: absolute;
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
        float: right;
        top: 20px;
        right: 30px;
        width: 7px;
        height: 26px
    }
    .govsph-kebab.govsph-active {
        display: -webkit-box;
        top: 28px;
        margin-right: 10px
    }
}

.govsph-kebab figure {
    width: 6px;
    height: 5px;
    border-radius: 5px;
    background: #444;
    margin: 5px 0;
    margin-top: -3px;
}

.govsph-middle {
    transform: scale(1);
    position: relative;
    -webkit-filter: blur(.1px);
    filter: blur(.1px)
}

.govsph-middle.govsph-active {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px
}

.govsph-cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: -1px;
    font-family: Nunito, sans-serif;
    color: #fff;
    transition: all .2s cubic-bezier(.72, 1.2, .71, .72);
    font-size: 22px;
    user-select: none
}

.govsph-cross.govsph-active {
    transform: translate(-50%, -50%) scale(1);
    transition: all .15s cubic-bezier(.32, 2.04, .85, .54)
}

.govsph-dropdown {
    position: fixed;
    width: 100%;
    left: 0;
    top: 70px;
    padding: 0 0 10px;
    border-bottom: solid 1px #444;
    transform: scale(0)
}

.govsph-dropdown li {
    display: block
}

.govsph-dropdown li a {
    display: inline-block;
    white-space: pre;
    box-sizing: border-box
}

.govsph-dropdown li a:hover {
    background: #ebebeb
}

.govsph-dropdown:hover ul {
    transform: scale(1)
}

.govsph-dropdown.govsph-active {
    position: fixed;
    display: inline-flex;
    transform: scale(1);
    transition: all .25s cubic-bezier(.5, 1.8, .9, .8);
    background: #fff
}

@media (min-width:992px) {
    .govsph-navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.govsph-navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem
}

body,
section.govsph-topo {
    margin: 0
}

ul.govsph-dropdown.govsph-active.hide-dropdown {
    display: none
}

ul.govsph-links-redes-sociais {
    display: inline-flex
}

ul.govsph-links-redes-sociais>li {
    list-style: none
}

p.govsph-social {
    width: 82px;
    color: #444;
    font-size: 10px;
    font-family: Verdana;
    margin-top: 7px;
    height: 0;
    padding-right: 20px;
    margin-left: 0
}

div#govsph-redes-sociais {
    margin-top: -26px;
    position: absolute
}

p.govsph-pasta {
    margin-top: 0;
    width: 190px;
    font-size: 18px;
    color: #fff
}

ul.govsph-links-governo>li {
    text-decoration: none;
    list-style: none;
    font-family: Verdana;
    font-size: 10px;
    margin-right: 10px
}

div#govsph-links-governo {
    position: absolute;
    float: left!important
}

img.govsph-logo {
    width: 118px;
    height: 45px;
    margin-top: 10px;
    margin-right: 10px
}

ul.govsph-links-governo {
    position: absolute;
    float: left;
    display: inline-flex;
    margin-top: -20px;
    left: 26px;
    padding: 0
}

a.govsph-links-governo {
    text-decoration: none;
    color: #444
}

li.govsph-link-portal {
    border-right: 1px solid #444;
    padding-right: 10px
}

.govsph-portal.g-white {
    color: #11161d
}

p.govsph-pasta.govsph-oneline {
    margin-top: 20px;
    color: #fff
}

img.govsp-acessibilidade {
    margin: 6px 0 0 4px
}

.govsph-logo {
    background: url(http://saopaulo.sp.gov.br/barra-govsp/img/logo-sp.png) no-repeat;
    width: 140px;
    margin-top: 4px
}