<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies/>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="240" requestLengthDiskThreshold="6225920" maxRequestLength="104857600" requestValidationMode="2.0"/>
    <globalization culture="pt-BR" uiCulture="pt-BR" fileEncoding="utf-8"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <!--<forms name="authForm" loginUrl="Login.aspx" defaultUrl="Principal.aspx" protection="All" path="/" slidingExpiration="true" timeout="60" requireSSL="false" />-->
      <!--<forms name="authForm" loginUrl="Login.aspx" defaultUrl="Principal.aspx" protection="All" timeout="60" path="/" slidingExpiration="true" requireSSL="false" />-->
      <forms name="authForm" loginUrl="index.html" defaultUrl="Principal.aspx" protection="All" timeout="60" path="/" slidingExpiration="true" requireSSL="false"/>
    </authentication>
    <sessionState timeout="60"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--<requestLimits maxAllowedContentLength="6225920" />-->
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
      <!--<access sslFlags="None" />-->
    </security>
    <staticContent>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".ttf"/>
      <remove fileExtension=".otf"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".ttf" mimeType="font/ttf"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="/index.html"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <location path="">
    <appSettings>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="resourceURI" value="~/crystalreportviewers13"/>
      <add key="aspnet:MaxJsonDeserializerMembers" value="6225920"/>
    </appSettings>
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="boletoBB.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="boletoBB_print.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="homeInscricoes.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="fichaInscricao.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="consultaInscricao.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="consultaInscricaoLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="home.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index.html">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" cacheControlMaxAge="0.00:00:00"/>
      </staticContent>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-cache, no-store, must-revalidate"/>
          <add name="Pragma" value="no-cache"/>
          <add name="Expires" value="-1"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="index.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index_area.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index_curso.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index_sobre.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index_faq.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index_contato.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index_dissertacoes.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index_tcc.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index_PoliticaPrivacidade.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="index_FormularioEducacaoCorporativa.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="wsInscricao.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="confirmacaoemail.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="outDownloadCertificado.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=I019429;initial catalog=serpi_homolog;user id=sa;password=Integra01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="EntitiesHomolog" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=I019429;initial catalog=serpi_homolog;user id=sa;password=Integra01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="FIPTEntities" connectionString="Data Source=servfipt;Initial Catalog=TesteManager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="FIPTEntitiesTeste" connectionString="Data Source=servfipt;Initial Catalog=TesteManager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="SisProConnectionString" connectionString="Data Source=I019429;Initial Catalog=serpi_homolog;User ID=sa;Password=Integra01;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="qServidor" connectionString="Homolog" />
      <add name="qAmbiente" connectionString="I019429" />
      <add name="qCaminhoVideo" connectionString="http://localhost/sapiens/videos/"/>-->
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=servcet;initial catalog=serpi_homolog;user id=sa;password=$erverCET2k11!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="EntitiesHomolog" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=servcet;initial catalog=serpi_homolog;user id=sa;password=$erverCET2k11!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="FIPTEntities" connectionString="Data Source=servfipt;Initial Catalog=TesteManager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="FIPTEntitiesTeste" connectionString="Data Source=servfipt;Initial Catalog=TesteManager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="SisProConnectionString" connectionString="Data Source=servcet;Initial Catalog=serpi_homolog;User ID=sa;Password=$erverCET2k11!;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="qServidor" connectionString="Homolog" />
      <add name="qAmbiente" connectionString="Servcet" />
      <add name="qCaminhoVideo" connectionString="http://localhost/sapiens/videos/"/>-->
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.39.37;initial catalog=sapiens_homolog;user id=sapiens;password=sapiens2k20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="EntitiesHomolog" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.39.37;initial catalog=sapiens_homolog;user id=sapiens;password=sapiens2k20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="FIPTEntities" connectionString="Data Source=servfipt;Initial Catalog=TesteManager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="FIPTEntitiesTeste" connectionString="Data Source=servfipt;Initial Catalog=TesteManager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="SisProConnectionString" connectionString="Data Source=SRVDBDESENV;Initial Catalog=sapiens_homolog;User ID=sapiens;Password=sapiens2k20;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="qServidor" connectionString="Homolog"/>
    <add name="qAmbiente" connectionString="SRVDBDESENV"/>
    <add name="qCaminhoVideo" connectionString="http://localhost/sapiens/videos/"/>
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=I019429;initial catalog=serpi_homolog;user id=sa;password=Integra01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="SisProConnectionString" connectionString="Data Source=I019429;Initial Catalog=serpi_homolog;User ID=sa;Password=Integra01;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="qServidor" connectionString="Homolog_Local" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=servcet;initial catalog=serpi;user id=sa;password=$erverCET2k11!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="EntitiesHomolog" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=servcet;initial catalog=serpi_homolog;user id=sa;password=$erverCET2k11!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="FIPTEntities" connectionString="Data Source=servfipt;Initial Catalog=Manager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="FIPTEntitiesTeste" connectionString="Data Source=servfipt;Initial Catalog=TesteManager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="SisProConnectionString" connectionString="Data Source=servcet;Initial Catalog=serpi;User ID=sa;Password=$erverCET2k11!;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="qServidor" connectionString="Producao" />
      <add name="qAmbiente" connectionString="SERVCET" />
      <add name="qCaminhoVideo" connectionString="https://sapiens.ip.br/videos/"/>-->
    <!--<add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srvdb;initial catalog=sapiens;user id=sapiens;password=sapiens2k20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="EntitiesHomolog" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=servcet;initial catalog=serpi_homolog;user id=sa;password=$erverCET2k11!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="FIPTEntities" connectionString="Data Source=servfipt;Initial Catalog=Manager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="FIPTEntitiesTeste" connectionString="Data Source=servfipt;Initial Catalog=TesteManager;User ID=educacional;Password=fipt!@#;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="SisProConnectionString" connectionString="Data Source=SRVDB;Initial Catalog=sapiens;User ID=sapiens;Password=sapiens2k20;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
      <add name="qServidor" connectionString="Producao" />
      <add name="qAmbiente" connectionString="SRVDB" />
      <add name="qCaminhoVideo" connectionString="https://sapiens.ip.br/videos/"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="a4292a325f69b123" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.4137.9688" newVersion="1.7.4137.9688"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>